	<a href="#" class="button success" data-reveal-id="files">Anexos</a>
	<a href="#" class="button success" data-reveal-id="complement">Complemento</a>
	<%= link_to "Pedido Simplificado", {action: "simplified_inspection", format: "pdf"}, {target: "_blank", class: "button success"} %>
		