
	    <td> <%= link_to 'Executar', {:action => 'run'}, :class => 'button success' %></td>
		<a href="#" class="button success" data-reveal-id="run_problem">Problema Execução</a>
		<a href="#" class="button success" data-reveal-id="inspection_frustated">Frustrar Inspeção</a>