
			<a href="#" class="button success" data-reveal-id="scheduling">Agendar</a>
			<a href="#" class="button success" data-reveal-id="scheduling_problem">Problema Agendamento</a>
			<a href="#" class="button success" data-reveal-id="reject_inspection">Rejeitar Inspeção</a>
				