<!-- Partials files in rails start with the underscore '_'  -->
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
	<head>
		<meta charset="UTF-8">
		<title>SAP - Abertura Chamado</title><!-- Criar variavel para receber nome da pagina-->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.css">
		
	</head>

	<body >
		
	<div class = "row">
		<center>
			<%= wicked_pdf_image_tag("images/logo.png",  size: '180') %>
		</center>
	</div>
	
	<%= yield %>
	
 </body>
    

</html>
	